@use "/styles/utility.scss" as utility;
@use "/styles/constants.module.scss" as *;

.button {
	all: unset;
	color: white;
	cursor: pointer;
	max-width: utility.px-to-rem(335px);
	width: 100%;
	font-size: utility.px-to-rem(20px);
	text-align: center;
	padding: utility.px-to-rem(16px);
	background-color: #0275d8;
	border-radius: utility.px-to-rem(8px);
	-webkit-border-radius: utility.px-to-rem(8px);
	-moz-border-radius: utility.px-to-rem(8px);
	-ms-border-radius: utility.px-to-rem(8px);
	-o-border-radius: utility.px-to-rem(8px);
}

.hero {
	background-image: url(../../public/reward_bg.svg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: calc(75vh - utility.px-to-rem(20px));
	background-color: #003247;
	color: white;
	display: grid;
	place-items: center;
	padding-inline: utility.px-to-rem(16px);
	padding-block: utility.px-to-rem(20px);

	.container {
		@extend .container;
		display: grid;
		grid-template-columns: repeat(
			auto-fit,
			minmax(500px, auto)
		);
		justify-items: end;
		align-items: center;
		gap: utility.px-to-rem(2px);
	}

	&_title {
		font-size: utility.px-to-rem(60px);
		line-height: 1.1;
	}
	&_text {
		font-size: utility.px-to-rem(24px);
		font-weight: normal;
		color: rgb(239, 239, 239);
		margin-top: utility.px-to-rem(24px);
	}

	.button {
		margin-top: utility.px-to-rem(32px);
	}
}

.spinner {
	padding-block: utility.px-to-rem(84px);
	.container {
		@extend .container;
	}
	&_title {
		font-size: utility.px-to-rem(40px);
	}

	&_text {
		font-size: utility.px-to-rem(20px);
		line-height: utility.px-to-rem(32px);

		&:is(.top) {
			margin-top: utility.px-to-rem(20px);
		}
	}
	.bold {
		color: #353f50;
		font-weight: 700;
	}
}
